<aside class="main-sidebar" th:fragment="sidebar" style="position: fixed;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/assets/images/user2-160x160.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${userEmail}"></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="/company">
                    <i class="fa fa-tachometer-alt"></i> <span>Trang chủ</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/company/job">
                    <i class="fa fa-briefcase"></i> <span>Danh sách việc làm</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

            <li>
                <a href="/company/candidate">
                    <i class="fa fa-user"></i> <span>Danh sách ứng viên</span>
                    <span class="pull-right-container">
            </span>
                </a>
            </li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>